*  {
    box-sizing: border-box;
}

body  {
    widows: 1024px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    line-height: 25px;
}

.Encabezado  {
    color: #ffffff;
    padding: 50px 16px;
    margin-top: auto;
    text-decoration: none;
    margin-bottom: auto;
}

.Encabezado:hover  {
    background-color:  #56d672;
    padding: 40px;
}

.Brother´s  {
    display: flex;
    align-items: right;
    background-color:#180e0b;
    padding: 40px; 
    justify-content: space-between;
}

.Casa  {
    color: #ffffff;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
} 

.Uno  {
    width: 100%;
    height: 50%;
}

.Dos  {
    width: 120px;
    height: 120px;
    padding: 15px;
}

.Tres  {
    margin-top: 29px;
    height: 240px;
    width: 100%;
}

.Centro  {
    display: inline-block;
    width: 24%;
    padding-top: 20px;
    padding-left: 48px;
    padding-right: 34px;
    padding-bottom: 60px;
    justify-content: space-between;
    height: 550px;
}

.Limbo  {
    margin-top: 25px;
    display: flex;
    width:300px;
    height: 100px; 
}

.Inferior  {
    display: inline-block;
    width: 640px;
    height: 55px; 
    flex-direction: column;  
}

.Ultimo  {
    justify-content: space-between;
    background-color:#291914;
    padding:48px;
} 

h1  {
    padding-left: 5px;
    align-items: stretch;
    color: #ffffff;
    font-size: 40px;	
}

h2  {
    font-size: 17px;
    color: #ffffff;
}

article  {
    flex-direction: column;
}

article p {
    float: left;
    width: 75%;
    height: 100%;
    box-sizing:border-box;
    text-align: "justify";
    font-size: 13px;
    color: #c0745d;	
}

section  {
    background-color: #261611; 
    color: #c0745d;
    font-size: 14px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 55px;
    padding-bottom: 55px;
    display: inline-flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

ul  {
    line-height: 30px;
    list-style: none;
    font-size: 19px;
    letter-spacing: 1px;
}

ul a  {
    text-decoration: underline;
    color: #c0745d;
    width: 100%;
    justify-content: flex-start;
}

.Direção  {
    font-size: 18px;
    text-align: left;
    padding-left: 34px;
    color: #ffffff;
}

.Localização  {
    padding-top: 15px;
    width: 100%;
    text-align: "justify";
    font-size: 13px;
    color: #c0745d;	
}

.Historia  {
    width: 70%;
}

strong  {
    color: #ffffff;
}

.final  {
    width: 100%;
    height: auto;
    justify-content: space-between;
}

footer  {
    background-color: #180e0b;
    color: #c0745d;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}