*  {
    box-sizing: border-box;
}

body  {
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    padding: 0;
    line-height: 25px;
}

/* Cabecalho*/

.cabecalho {

}

.cabecalho__container {
    display: flex;
    align-items: center;
    background-color:#180e0b;
    padding: 15px 40px; 
    justify-content: space-between
}

.cabecalho__titulo {
    color: #ffffff;
    font-size: 2.7rem
}

.cabecalho__nav {

}

.cabecalho__link {
    color: #ffffff;
    text-decoration: none;
    margin-left: 25px;
    font-size: 1.4rem;
    font-weight: 600;
}

.cabecalho__link:hover  {
    background-color: #8db83d;
    padding: 40px 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.cabecalho__banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Main */
/* Horarios */

.horarios {
    background-color: aliceblue ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.horarios__containers {
    width: 22%;
}

.horarios__containers:hover {
    padding: 15px;
    background-color: #8db83d;
    border-radius: 15px;
    transition: .2s;
}

.horarios__imagens {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.horarios__titulo {
    color: #000000;
    font-size: 1.3rem;
}

.horarios__descripcao {
    color: #000000;
    font-size: 1rem;
}

/* Ubicação */

.ubicacao {
    padding: 30px;
    background-color: #261611; 
    color: #c0745d;

    display: inline-flex;
}

.ubicacao__articles {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ubicacao__titulos {
    font-size: 1.3rem;
    color: #ffffff;   
}

.ubicacao__info {
    display: flex;
}

.ubicacao__imagens {
    width: 150px;
    height: 150px;
    padding: 15px;
    border-radius: 28px;
}

.ubicacao__descripcao {
    width: 45%;
    font-size: 0.8rem;
}

.ubicacao__imagens-grande {
    padding: 10px 10px 0 10px;
    height: 340px;
    width: 100%;
    border-radius: 25px;
}

.ubicacao__info-grande {
    width: 640px;
}

.ubicacao__descripcao-grande {
    width: 100%;
    font-size: 0.8rem;
}

/* historia-contato */

.historia-contato {
    display: flex;

    justify-content: space-between;
    background-color:#361b13;
    font-size: 0.9rem;
    color: #c0745d;
    padding: 30px;
}

.historia-contato__container {

}

.historia-contato__titulo {
    font-size: 1.3rem;
    color: #ffffff;   
}

.historia-contato__descripcao {

}

.historia-contato__titulo-contacto {
    margin-left: 40px;
    font-size: 1.3rem;
    color: #ffffff;   
}

.historia-contato__lista {
    line-height: 30px;
    list-style: none;
    font-size: 19px;
    letter-spacing: 1px;
}

.historia-contato__lista a {
    text-decoration: underline;
    color: #c0745d;
    width: 100%;
    justify-content: flex-start;
}

strong  {
    color: #ffffff;
}

.pie-de-pagina  {
    background-color: #180e0b;
    color: #c0745d;
    padding: 20px;
    text-align: center;
}